<form  [formGroup]="brandForm"  >
  <div class="form-group">
    <label>select category</label>
    <select class="form-control" formControlName ="category" (change)="onSelectCategory($event.target.value)">
      <option value="{{category._id}}" *ngFor ="let category of categories" >{{category.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Select Subcategory</label>
    <select class="form-control" formControlName="subcategory">
      <option *ngFor ="let subcategory of subcategories" [value]="subcategory._id" >{{subcategory.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label >Brand Name:</label>
    <input type="text" class="form-control" formControlName="name">
  </div>
  <div class="form-group">
    <label >Cover Photo</label>
    <input type="file" (change)="onImagePicked($event,'coverphoto')" class="form-control">
    <div class="image-preview" *ngIf="brandForm.get('coverphoto').value">
      <img [src]="brandForm.get('coverphoto').value">
    </div>
  </div>
  <div class="form-group">
    <label >Logo</label>
    <input type="file" class="form-control" (change)="onImagePicked($event,'logo')" >
    <div class="image-preview" *ngIf="brandForm.get('logo').value">
      <img [src]="brandForm.get('logo').value">
    </div>
  </div>
  <button  [disabled]="brandForm.invalid" type="submit" class="btn btn-default float-right" (click)="onSubmit()">Add</button>
</form>
